# config/services.yaml

parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'

    App\Infrastructure\Serializer\RobotNormalizer:
        tags: ['serializer.normalizer']

    App\Infrastructure\Serializer\RobotDanceOffNormalizer:
        tags: ['serializer.normalizer']

    App\Domain\Repository\RobotRepositoryInterface: '@App\Infrastructure\Repository\RobotRepository'
    App\Domain\Repository\RobotDanceOffRepositoryInterface: '@App\Infrastructure\Repository\RobotDanceOffRepository'
    App\Domain\Repository\TeamRepositoryInterface: '@App\Infrastructure\Repository\TeamRepository'
    App\Domain\Repository\RobotDanceOffHistoryRepositoryInterface: '@App\Infrastructure\Repository\RobotDanceOffHistoryRepository'
    App\Domain\Repository\RobotReadRepositoryInterface: '@App\Infrastructure\Repository\RobotReadRepository'
    App\Domain\Repository\RobotBattleViewReadRepositoryInterface: '@App\Infrastructure\Repository\RobotBattleViewReadRepository'

    App\Infrastructure\Repository\RobotRepository:
        tags: ['doctrine.repository_service']

    App\Infrastructure\Repository\RobotDanceOffRepository:
        tags: ['doctrine.repository_service']

    App\Infrastructure\Repository\TeamRepository:
        tags: ['doctrine.repository_service']
